{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">

<title>Publication</title>

{# CSS Files #}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/slidebars.css' %}">
<link rel="stylesheet" href="{% static 'css/base_style.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/top_page.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/new.css' %}" />
<link rel="stylesheet" href="{% static 'css/footer.css' %}" />
<link rel="stylesheet" href="{% static 'css/archive_manager.css' %}" />


<!-- fonts in the test page -->
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

<link  rel="shortcut icon" href="{% static 'images/icon.png' %}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{% static 'js/slidebars.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/set_values.js' %}"></script>

<!-- js files in the test page -->
<script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
<script src="{% static 'js/top_page.js' %}"></script>
</head>


<body>

{# Header part #}
<div id="header" class="cf">

    {# PC以外用 #}
    <div id="header_inner" class="cf">
        <div id="logo">
            <a href="http://www-bigdata.ist.osaka-u.ac.jp"><img src="{% static 'images/header_logo_bk.png' %}" class="switch" alt=""></a>
        </div>
        <div id="menu">
            <img src="{% static 'images/menu.png' %}" alt="" class="sb-toggle-right">
        </div>
    </div><!--#header_inner-->

    {# PC上側 #}
    <div id="pc_header_inner" class="cf">
        <div id="pc_logo">
            <a href="http://www-bigdata.ist.osaka-u.ac.jp">
                <img src="{% static 'images/header_logo_bk.png' %}" class="switch" alt="">
            </a>
        </div>
        <div id="pc_menu">
            <ul class="pc_navi">
                <li class="menu-hover"><a href="{% url 'tree_view:embedding' %}"><span>Home</span></a></li>
                <li class="menu-hover"><a href="{% url 'tree_view:research' %}"><span>研究</span></a></li>
                <li class="menu-hover"><a href="{% url 'tree_view:member' %}"><span>メンバー</span></a></li>
                <li class="menu-hover"><a href="{% url 'tree_view:new' %}"><span>New</span></a></li>
                <li class="now_display_header"><a href="{% url 'tree_view:paper' %}"><span>業績</span></a></li>
                <li class="menu-hover"><a href="{% url 'tree_view:embedding' %}"><span>English</span></a></li>
            </ul>
        </div>
    </div><!-- #pc_header_inner -->
</div>


{# main contents #}
<div id="mainArea">
    <section class="SectionBasic search_form">
        <h2 class="MdsBase">Publication</h2>
        <form name="searchform" id="form-space" action="" method="get">
            <input class="text" type="text" name="text_box" placeholder="Search...">
            <input type="radio" name="andor" value="and" checked="checked"> and
            <input type="radio" name="andor" value="or"> or
            <button type=submit>検索</button>
            <br>
            <div class="sort-box">
                <div class="box-title">
                    Sort：
                </div>
                <select id="sorting" name="sorting">
                    <option value="name">タイトル名</option>
                    <option value="year">発行年</option>
                </select>
            </div>
            <br>
            <div class="grouping-box">
                 <div class="box-title">
                    Grouping：
                </div>
                <select id="grouping" name="grouping">
                    <option value="none">指定なし</option>
                    <option value="kaigi">会議</option>
                    <option value="year">発行年</option>
                </select>
            </div>
        </form>
    </section>


    <form action="{% url 'tree_view:result_bibtex' %}" method="post" id="bib_get">
        {% csrf_token %}
        <button type="button" name="bibtex_button" id="bib_button">bibtex</button>
    </form>

    <section class="SectionBasic result-space">
        {% if paper_groups %}
            {% for group, papers in paper_groups.items %}
                <div class="{% cycle 'paper_group_1' 'paper_group_2' %}">
                    <strong>{{ group }}</strong>
                    {% for paper in papers %}
                    <div class="paper_detail"><li>
                        {% for author in paper.author_set.values %}
                        <a href="{% url 'tree_view:author_detail' author.id %}">{{ author.name }}</a>,
                        {% endfor %}
                        <a href="{% url 'tree_view:paper_detail' paper.id %}">{{paper.title}}</a>,
                        {{ paper.colloquium }}, {{ paper.year }}
                    </li></div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <div class="no_available"><p>Sorry, but no paper are available.</p></div>
        {% endif %}
    </section>

</div>




{# footer #}
<footer class="footer-distributed">
    <div class="footer-left">
        <h3>Onizuka<span>Lab.</span></h3>
        <p class="footer-company-about">
            大阪大学情報科学研究科<br>
            マルチメディア工学専攻<br>
            ビッグデータ工学講座鬼塚研究室
        </p>
        <br>
        <p class="footer-company-about">
            <span>ページ内リンク</span>
        </p>
        <ul>
            <li class="footer-list"><a href="{% url 'tree_view:embedding' %}">Home</a></li>
            <li class="footer-list"><a href="{% url 'tree_view:research' %}">研究</a></li>
            <li class="footer-list"><a href="{% url 'tree_view:member' %}">メンバー</a></li>
            <li class="footer-list"><a href="{% url 'tree_view:new' %}">New</a></li>
            <li class="footer-list"><a href="{% url 'tree_view:embedding' %}">業績</a></li>
        </ul>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i><br>
            <p><span>〒565-0871 大阪府吹田市山田丘1-5 <br>
                大阪大学 情報科学研究科C棟</span>
            </p>
        </div>
        <div>
            <i class="fa fa-phone"></i><br>
            <p>+1 555 123456</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i><br>
            <p><a href="mailto:support@company.com">onizuka@ist.osaka-u.ac.jp</a></p>
        </div>
    </div>

    <div class="footer-right">
        <p class="footer-company-about">
            <span>外部リンク</span>
        </p>
        <p>
            <li class="footer-list"><a href="http://www.ist.osaka-u.ac.jp/japanese/research/majors/mm/course.html" target="_blank">マルチメディア工学専攻</a></li>
            <li class="footer-list"><a href="http://www.ist.osaka-u.ac.jp/japanese/index.html" target="_blank">情報科学研究科</a></li>
            <li class="footer-list"><a href="http://www.eng.osaka-u.ac.jp/ja/index.html" target="_blank">工学研究科・工学部</a></li>
            <li class="footer-list"><a href="http://www.es.osaka-u.ac.jp/" target="_blank">基礎工学部</a></li>
            <li class="footer-list"><a href="http://www.osaka-u.ac.jp/ja" target="_blank">大阪大学</a></li>
            <li class="footer-list"><a href="http://www.library.osaka-u.ac.jp/" target="_blank">大阪大学付属図書館</a></li>
            <li class="footer-list"><a href="http://www-bigdata.ist.osaka-u.ac.jp/local/oniwiki" target="_blank">鬼塚研Wiki (Local)</a></li>
        </p>
        <div class="footer-icons">
            <a href="https://hub.docker.com/u/gpolab/"><i class="fa fa-docker"></i></a>
            <a href="https://twitter.com/monizuka"><i class="fa fa-twitter"></i></a>
            <a href="https://github.com/OnizukaLab/"><i class="fa fa-github"></i></a>
        </div>
    </div>

    <div class="footer-bottom">
        Copyright &copy; 2017 Onizuka Lab. All rights reserved.
    </div>
</footer>



{# slide bar for Smart Phone #}
<div class="sb-slidebar sb-right">
    <ul class="sb-menu">
        <li class="sb-menu-title">MENU</li>
        <li class="sb-close"><a href="{% url 'tree_view:embedding' %}">ホーム</a></li>
        <li class="sb-submenu-open"><a href="{% url 'tree_view:research' %}" class="sb-toggle-submenu">研究<span class="sb-caret"></span></a>
            <ul class="sb-submenu">
                <li class="sb-close"><a href="#">グラフマイニング</a></li>
            </ul>
            <ul class="sb-submenu">
                <li class="sb-close"><a href="#">自然言語処理</a></li>
            </ul>
            <ul class="sb-submenu">
                <li class="sb-close"><a href="#">分散グラフ処理エンジン</a></li>
            </ul>
            <ul class="sb-submenu">
                <li class="sb-close"><a href="#">発見的データ分析</a></li>
            </ul>
            <ul class="sb-submenu">
                <li class="sb-close"><a href="#">IoT技術とビッグデータ</a></li>
            </ul>
            <ul class="sb-submenu">
                <li class="sb-close"><a href="#">機械学習</a></li>
            </ul>
        </li>
        <li class="sb-close"><a href="{% url 'tree_view:member' %}">メンバー<span class="sb-caret"></span></a></li>
        <li class="sb-close"><a href="{% url 'tree_view:new' %}">NEW<span class="sb-caret"></span></a></li>
        <li class="sb-close"><a href="{% url 'tree_view:paper' %}">業績</a></li>
        <li class="sb-close"><a href="{% url 'tree_view:embedding' %}">English<span class="sb-caret"></span></a></li>
    </ul>
</div>


{# jquery #}
<script>

// for header (to add margin-top to main area)
$(function(){
    var headerHight = $('#header').height();
    $('#mainArea').css('margin-top', headerHight);
});

// for SP hover in side bar
$(function(){
    $('.sb-menu li')
      .bind( 'touchstart', function(){
        $( this ).addClass( 'hover' );
    }).bind( 'touchend', function(){
        setTimeout(function(){
            $('.sb-menu li').removeClass('hover');
            },350);
    });

    $('.sb-close a')
      .bind( 'touchstart', function(){
        $( this ).addClass( 'hover' );
    }).bind( 'touchend', function(){
        setTimeout(function(){
            $('.sb-menu li').removeClass('hover');
            },350);
    });
});
</script>

</body>
</html>
