{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">

<title>動画埋め込みテストページ</title>

{# CSS Files #}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/slidebars.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/top_page.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/salvattore.css' %}" />
<link rel="stylesheet" href="{% static 'css/aos.css' %}" />
<link rel="stylesheet" href="{% static 'css/tile_hover.css' %}" />
<link rel="stylesheet" href="{% static 'css/news_card.css' %}" />
<link rel="stylesheet" href="{% static 'css/footer.css' %}" />
<link rel="stylesheet" href="{% static 'css/research_card.css' %}" />


<!-- fonts in the test page -->
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

<link  rel="shortcut icon" href="/favicon.ico">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{% static 'js/slidebars.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/application.js' %}"></script>

<!-- js files in the test page -->
<script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
<script src="{% static 'js/top_page.js' %}"></script>
</head>

<body>

{# Header part #}
<div id="header" class="cf">

    {# PC以外用 #}
    <div id="header_inner" class="cf">
        <div id="logo">
            <a href="http://www-bigdata.ist.osaka-u.ac.jp"><img src="{% static 'images/header_logo_bk.png' %}" class="switch" alt=""></a>
        </div>
        <div id="menu">
            <img src="{% static 'images/menu.png' %}" alt="" class="sb-toggle-right">
        </div>
    </div><!--#header_inner-->

    {# PC上側 #}
    <div id="pc_header_inner" class="cf">
        <div id="pc_logo">
            <a href="http://www-bigdata.ist.osaka-u.ac.jp">
                <img src="{% static 'images/header_logo_bk.png' %}" class="switch" alt="">
            </a>
        </div>
        <div id="pc_menu">
            <ul class="pc_navi">
                <li class="now_display_header"><a href="http://www-bigdata.ist.osaka-u.ac.jp/bigdata/research"><span>Home</span></a></li>
                <li class="menu-hover"><a href="http://www-bigdata.ist.osaka-u.ac.jp/bigdata/publication"><span>研究</span></a></li>
                <li class="menu-hover"><a href="http://www-bigdata.ist.osaka-u.ac.jp/bigdata/whats-new"><span>メンバー</span></a></li>
                <li class="menu-hover"><a href="http://www-bigdata.ist.osaka-u.ac.jp/bigdata/member"><span>Lab</span></a></li>
                <li class="menu-hover"><a href=http://www-bigdata.ist.osaka-u.ac.jp/bigdata/access><span>業績</span></a></li>
                <li class="menu-hover"><a href="#"><span>English</span></a></li>
            </ul>
        </div>
    </div><!-- #pc_header_inner -->

    {# PC下側 #}
    <nav class="pc_sub_menu">
        <ul class="sub-contents">
            <li class="pc_sub_menu_message"><a href="#">メッセージ</a></li>
            <li class="pc_sub_menu_jobs"><a href="#">研究紹介</a></li>
            <li class="pc_sub_menu_interview"><a href="#">最新ニュース</a></li>
            <li class="pc_sub_menu_work"><a href="#">リンク</a></li>
        </ul>
    </nav>
</div>


<!-- mainコンテンツ：Start -->
<div id="mainArea">

    {#  for PC (video contents)  #}
    <div id="BgVideoWrap" class="PC">
        <div class='BgVideoOverlay'></div>
        <video id="BgVideo" autoplay loop muted>
            <source src="{% static 'images/test-oga.mp4' %}" />
            <source src="{% static 'images/sample_sand20.mp4' %}" type="video/mp4" />
        </video>
        <h1 class="PageTitle"><img src="{% static 'images/logo_white.png' %}" alt="Onizuka Lab logo"></h1>
        <div class="ScrollDown"><img src="{% static 'images/scroll.png' %}" alt="SCROLL DOWN"></div>
    </div>

    {# for Smart Phone #}
    <div id="KeyVisualSP" class="SP">
        <ul id="Slide">
            <li><img src="{% static 'images/building.jpg' %}" alt=""></li>
            <li><img src="{% static 'images/themes.png' %}" alt=""></li>
        </ul>
        <p class="PageTitle"><img src="{% static 'images/new_logo_white.png' %}" alt=""></p>
        <!-- // #KeyVisualSP -->
    </div>

    {# Message contents #}
    <div id="Poem" class="cd-fixed-bg cd-bg-1">
        <section class="SectionBasic Message">
            <div data-aos="fade-up"> {#  data-aos-anchor-placement="top-center">#}
                <h2 class="MdsBase">
                    ビッグデータ革命を、<br />
                    牽引する。
                </h2>
                <p class="Lead">
                    ビッグデータ，IoT，自然言語処理，データマイニング，人工知能．<br />
                    現在，上記の分野は世界でも多くの注目を浴びています．<br />
                    昨今話題となっているこれらのワードの根底には<br />
                    ”データ”の存在が大きく関わっています．
                </p>
                <p class="Lead">私たちにとって，データとは命そのものです．</p>
                <p class="Lead">
                    世界に目を向け，他に劣らないような研究成果をあげております．<br />
                    ビッグデータの持つ力は無限大です．</p>
                <p class="Lead">
                    私たちはビッグデータで世界をより良くし，<br />
                    研究成果を実世界にコミットします．<br />
                    この思いに共感し、共にビッグデータ革命を牽引しましょう．</p>
                <p class="KomeS">このページはテストページです．</p>
                <!-- / .SectionBasic -->
            </div>
        </section>
    </div>



    {# 研究紹介 #}
    <section class="SectionBasic CardStyle ColumnUnit">
        <h2 class="MdsBase">Research</h2>
        <p class="LeadMain">鬼塚研究室ではビッグデータにまつわる下記の研究分野で活動しております．</p>
     <ul class="cards">
      <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--datamining"></div>
          <div class="card__content">
            <div class="card__title">データマイニング・機械学習</div>
            <p class="card__text">グラフマイニングとは，「どの人がどこで何を買った・何を見た」などの，人・モノ・場所の関係に関するデータをグラフ構造で表現して，
                得られる大規模なグラフデータを用いて，モノを推薦したり，影響力のある人物を発見したり，世の中のトレンドを分析したりする技術です．</p>
            <button class="btn btn--block card__btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--nlp"></div>
          <div class="card__content">
            <div class="card__title">自然言語処理</div>
            <p class="card__text">This is the shorthand for flex-grow, flex-shrink and flex-basis combined.
                The second and third parameters (flex-shrink and flex-basis) are optional. Default is 0 1 auto. </p>
            <button class="btn btn--block card__btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--graph"></div>
          <div class="card__content">
            <div class="card__title">分散グラフ処理エンジン</div>
            <p class="card__text">分散データ処理エンジンとは，数100台を超えるコンピュータを使って大量なビッグデータをリアルタイムで分析処理する技術であり，
                Google や Facebook を含めて多くの企業で利用されています．</p>
            <button class="btn btn--block card__btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--dataanalysis"></div>
          <div class="card__content">
            <div class="card__title">発見的データ分析</div>
            <p class="card__text">誰でも簡単にビッグデータ分析ができる技術を創出して起業します． </p>
            <button class="btn btn--block card__btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--iot"></div>
          <div class="card__content">
            <div class="card__title">IoT技術とビッグデータ</div>
            <p class="card__text">IoT技術とビッグデータの融合によるスマート応用の実現を目指しています．
                現在EUと日本の国際的共同プロジェクトを推進しています．</p>
            <button class="btn btn--block card__btn">Read More</button>
          </div>
        </div>
      </li>
    </ul>
    </section>

    {#  最新ニュース記事  #}
    <section class="SectionBasic Grid blur-image">
        <h2 class="MdsBase">Latest News</h2>
        <div class="grid" data-columns>
            <div class="EachBox box1 tiles" data-aos="fade-up" data-aos-duration="700">
                <a class="tile" href="#">
                    <img src="{% static 'images/onizuka.jpg' %}"/>
                    <div class="details">
                        <span class="title">Makoto Onizuka</span>
                        <span class="info">Data is the new oil.</span>
                    </div>
                 </a>
            </div>
            <div class="EachBox box2 tiles" data-aos="fade-up" data-aos-duration="700">
                <a class="tile" href="#">
                    <img src="{% static 'images/masai.JPG' %}"/>
                    <div class="details">
                        <span class="title">マサイ民族衣装</span>
                        <span class="info">ジャンプジャンプジャンプジャンプジャンプ</span>
                    </div>
                 </a>
            </div>
            <div class="EachBox box3 tiles" data-aos="fade-up" data-aos-duration="700">
                <a class="tile" href="#">
                    <img src="{% static 'images/scene3.JPG' %}"/>
                    <div class="details">
                        <span class="title">NLP 100knock</span>
                        <span class="info">ほげほげ</span>
                    </div>
                 </a>
            </div>
        </div>
    </section>

</div>



{# footer #}
<footer class="footer-distributed">
    <div class="footer-left">
        <h3>Onizuka<span>Lab.</span></h3>
        <p class="footer-company-about">
            大阪大学情報科学研究科<br>
            マルチメディア工学専攻<br>
            ビッグデータ工学講座鬼塚研究室
        </p>
        <br>
        <p class="footer-company-about">
            <span>ページ内リンク</span>
        </p>
        <ul>
            <li class="footer-list"><a href="#">Home</a></li>
            <li class="footer-list"><a href="#">研究</a></li>
            <li class="footer-list"><a href="#">メンバー</a></li>
            <li class="footer-list"><a href="#">業績</a></li>
            <li class="footer-list"><a href="#">New</a></li>
            <li class="footer-list"><a href="#">Lab</a></li>
        </ul>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i><br>
            <p><span>〒565-0871 大阪府吹田市山田丘1-5 <br>
                大阪大学 情報科学研究科C棟</span>
            </p>
        </div>
        <div>
            <i class="fa fa-phone"></i><br>
            <p>+1 555 123456</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i><br>
            <p><a href="mailto:support@company.com">onizuka@ist.osaka-u.ac.jp</a></p>
        </div>
    </div>

    <div class="footer-right">
        <p class="footer-company-about">
            <span>外部リンク</span>
        </p>
        <p>
            <li class="footer-list"><a href="http://www.ist.osaka-u.ac.jp/japanese/research/majors/mm/course.html" target="_blank">マルチメディア工学専攻</a></li>
            <li class="footer-list"><a href="http://www.ist.osaka-u.ac.jp/japanese/index.html" target="_blank">情報科学研究科</a></li>
            <li class="footer-list"><a href="http://www.eng.osaka-u.ac.jp/ja/index.html" target="_blank">工学研究科・工学部</a></li>
            <li class="footer-list"><a href="http://www.es.osaka-u.ac.jp/" target="_blank">基礎工学部</a></li>
            <li class="footer-list"><a href="http://www.osaka-u.ac.jp/ja" target="_blank">大阪大学</a></li>
            <li class="footer-list"><a href="http://www.library.osaka-u.ac.jp/" target="_blank">大阪大学付属図書館</a></li>
            <li class="footer-list"><a href="http://www-bigdata.ist.osaka-u.ac.jp/local/oniwiki" target="_blank">鬼塚研Wiki (Local)</a></li>
        </p>
        <div class="footer-icons">
            <a href="https://hub.docker.com/u/gpolab/"><i class="fa fa-docker"></i></a>
            <a href="https://twitter.com/monizuka"><i class="fa fa-twitter"></i></a>
            <a href="https://github.com/OnizukaLab/"><i class="fa fa-github"></i></a>
        </div>
    </div>

    <div class="footer-bottom">
        Copyright &copy; 2017 Onizuka Lab. All rights reserved.
    </div>
</footer>


{# slide bar for Smart Phone #}
<div class="sb-slidebar sb-right">
    <ul class="sb-menu">
        <li class="sb-menu-title">MENU</li>
        <li class="sb-close"><a href="http://www-bigdata.ist.osaka-u.ac.jp">トップページ</a></li>
        <li class="sb-submenu-open"><a href="#" class="sb-toggle-submenu">研究内容<span class="sb-caret"></span></a>
            <ul class="sb-submenu">
                <li class="sb-close"><a href="#">メッセージ</a></li>
            </ul>
        </li>

        <li class="sb-submenu-open"><a href="#" class="sb-toggle-submenu">業績<span class="sb-caret"></span></a>
        <ul class="sb-submenu">
            <li class="sb-close"><a href="#" target="_blank">概要</a></li>
            <li class="sb-close"><a href="#" target="_blank">アクセス</a></li>
        </ul>

        <li class="sb-submenu-open"><a href="#" class="sb-toggle-submenu">New<span class="sb-caret"></span></a>
            <ul class="sb-submenu">
                <li class="sb-close"><a href="#">ああああ余り</a></li>
            </ul>
        </li>
        <li class="sb-close"><a href="#">メンバー</a></li>
        <li class="sb-close"><a href="/treeview/index">アクセス</a></li>
        <li class="sb-submenu-open"><a href="#" class="sb-toggle-submenu">外部リンク<span class="sb-caret"></span></a>
            <ul class="sb-submenu">
                <li class="sb-close"><a href="http://www.osaka-u.ac.jp/ja">大阪大学</a></li>
                <li class="sb-close"><a href="http://www.ist.osaka-u.ac.jp/japanese">情報科学研究科</a></li>
                <li class="sb-close"><a href="http://www-bigdata.ist.osaka-u.ac.jp/local/oniwiki">ローカル</a></li>
            </ul>
        </li>
    </ul>
</div>



{# jquery #}
<script>
// for SP hover
$(function(){
    $('.sb-menu li')
      .bind( 'touchstart', function(){
        $( this ).addClass( 'hover' );
    }).bind( 'touchend', function(){
        setTimeout(function(){
            $('.sb-menu li').removeClass('hover');
            },350);
    });

    $('.sb-close a')
      .bind( 'touchstart', function(){
        $( this ).addClass( 'hover' );
    }).bind( 'touchend', function(){
        setTimeout(function(){
            $('.sb-menu li').removeClass('hover');
            },350);
    });

});

// scroll to each positions
// this script is running when this page is fully loaded.
// videoをjsでwindow sizeぴったりにresizeするので，#BgVideoWrapのheightが値が安定しない
// 従って，最初の部分はwindow sizeから取得
jQuery.event.add(window, "load", function(){

    var header_and_video = $(window).height();
    var header_height = $("#mainArea").get(0).offsetTop;

    // Poem
    //var position = $("#BgVideoWrap").outerHeight(true) - header_height;  // 本来の手法
    var position = header_and_video - header_height;
    $('.pc_sub_menu_message').click(function(){
        $("html,body").animate({
            scrollTop : position
        }, {
            queue : false
        });
    });

    // Embedding Video
    //var position2 = $(".VideoEmbedding").get(0).offsetTop - header_height;    // 本来の手法
    var position2 = position + $("#Poem").outerHeight(true);
    $('.pc_sub_menu_jobs').click(function(){
        $("html,body").animate({
            scrollTop : position2
        }, {
            queue : false
        });
    });

    // Professors
    //var position3 = $(".Professors").get(0).offsetTop - header_height;    // 本来の手法
    var position3 = position2 + $(".CardStyle").outerHeight(true);
    $('.pc_sub_menu_interview').click(function(){
        $("html,body").animate({
            scrollTop : position3
        }, {
            queue : false
        });
    });

    // Grid
    //var position4 = position3 + $(".Professors").outerHeight(true);
    var position4 = position3 + $(".Grid").outerHeight(true);
    $('.pc_sub_menu_work').click(function(){
        $("html,body").animate({
            scrollTop : position4
        }, {
            queue : false
        });
    });


});


// Card Script
$(function() {
    $('.material-card > .mc-btn-action').click(function () {
        var card = $(this).parent('.material-card');
        var icon = $(this).children('i');
        icon.addClass('fa-spin-fast');

        if (card.hasClass('mc-active')) {
            card.removeClass('mc-active');

            window.setTimeout(function() {
                icon
                    .removeClass('fa-arrow-left')
                    .removeClass('fa-spin-fast')
                    .addClass('fa-bars');

            }, 800);
        } else {
            card.addClass('mc-active');

            window.setTimeout(function() {
                icon
                    .removeClass('fa-bars')
                    .removeClass('fa-spin-fast')
                    .addClass('fa-arrow-left');

            }, 800);
        }
    });
});

</script>

<!-- The script must be included at the bottom of the body to work -->
<script src="{% static 'js/salvattore.min.js' %}"></script>
{# for Animate On Scroll Library #}
<script src="{% static 'js/aos.js' %}"></script>
<script>
	AOS.init({
        duration: 700,
        disable: 'phone',
        delay: 400
    });
</script>

</body>
</html>
