{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">

<title>鬼塚研ホームページ</title>

{# CSS Files #}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/slidebars.css' %}">
<link rel="stylesheet" href="{% static 'css/base_style.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/top_page.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/aos.css' %}" />
<link rel="stylesheet" href="{% static 'css/research_card.css' %}" />

<!-- fonts in the test page -->
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

<link  rel="shortcut icon" href="{% static 'images/icon.png' %}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{% static 'js/slidebars.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<!-- js files in the test page -->
<script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
<script src="{% static 'js/top_page.js' %}"></script>
</head>

<body>

{# Header part #}
<div id="header" class="cf">

    {# PC以外用 #}
    <div id="header_inner" class="cf">
        <div id="logo">
            <a href="http://www-bigdata.ist.osaka-u.ac.jp"><img src="{% static 'images/header_logo_bk.png' %}" class="switch" alt=""></a>
        </div>
        <div id="menu">
            <img src="{% static 'images/menu.png' %}" alt="" class="sb-toggle-right">
        </div>
    </div><!--#header_inner-->

    {# PC上側 #}
    <div id="pc_header_inner" class="cf">
        <div id="pc_logo">
            <a href="http://www-bigdata.ist.osaka-u.ac.jp">
                <img src="{% static 'images/header_logo_bk.png' %}" class="switch" alt="">
            </a>
        </div>
        <div id="pc_menu">
            <ul class="pc_navi">
                <li class="now_display_header"><a href="{% url 'tree_view:embedding' %}"><span>Home</span></a></li>
                <li class="menu-hover"><a href="{% url 'tree_view:research' %}"><span>研究</span></a></li>
                <li class="menu-hover"><a href="{% url 'tree_view:member' %}"><span>メンバー</span></a></li>
                <li class="menu-hover"><a href="{% url 'tree_view:new' %}"><span>New</span></a></li>
                <li class="menu-hover"><a href="{% url 'tree_view:paper' %}"><span>業績</span></a></li>
                <li class="menu-hover"><a href="{% url 'tree_view:embedding' %}"><span>English</span></a></li>
            </ul>
        </div>
    </div><!-- #pc_header_inner -->

    {# PC下側 #}
    <nav class="pc_sub_menu">
        <ul class="sub-contents">
            <li class="pc_sub_menu_message"><a href="#">メッセージ</a></li>
            <li class="pc_sub_menu_jobs"><a href="#">研究紹介</a></li>
            <li class="pc_sub_menu_interview"><a href="#">最新ニュース</a></li>
            <li class="pc_sub_menu_work"><a href="#">外部の方へ</a></li>
        </ul>
    </nav>
</div>


<!-- mainコンテンツ：Start -->
<div id="mainArea">

    {#  for PC (video contents)  #}
    <div id="BgVideoWrap" class="PC">
        <div class='BgVideoOverlay'></div>
        <video id="BgVideo" autoplay loop muted>
            <source src="{% static 'images/test.mp4' %}" />
        </video>
        <h1 class="PageTitle"><img src="{% static 'images/logo_white.png' %}" alt="Onizuka Lab logo"></h1>
        <div class="ScrollDown"><img class="scroll-img" src="{% static 'images/sc.gif' %}" alt="SCROLL DOWN"></div>
    </div>

    {# for Smart Phone #}
    <div id="KeyVisualSP" class="SP">
        <ul id="Slide">
            <li><img src="{% static 'images/room.jpg' %}" alt=""></li>
            <li><img src="{% static 'images/oga-study.jpg' %}" alt=""></li>
            <li><img src="{% static 'images/oni_server.jpg' %}" alt=""></li>
        </ul>
        <p class="PageTitle"><img src="{% static 'images/new_logo_white.png' %}" alt=""></p>
    </div>

    {# Message contents #}
    <div id="Poem" class="cd-fixed-bg cd-bg-1">
        <section class="SectionBasic Message">
            <div data-aos="fade-up"> {#  data-aos-anchor-placement="top-center">#}
                <h2 class="MdsBase">
                    ビッグデータ革命を、<br />
                    牽引する。
                </h2>
                <p class="Lead">
                    ビッグデータ，IoT，自然言語処理，データマイニング，人工知能．<br />
                    現在，上記の分野は世界でも多くの注目を浴びています．<br />
                    昨今話題となっているこれらのワードの根底には<br />
                    ”データ”の存在が大きく関わっています．
                </p>
                <p class="Lead">私たちにとって，データとは命そのものです．</p>
                <p class="Lead">
                    世界に目を向け，他に劣らないような研究成果をあげております．<br />
                    ビッグデータの持つ力は無限大です．</p>
                <p class="Lead">
                    私たちはビッグデータで世界をより良くし，<br />
                    研究成果を実世界にコミットします．<br />
                    この思いに共感し、共にビッグデータ革命を牽引しましょう．</p>
                <p class="KomeS">このページはテストページです．</p>
            </div>
        </section>
    </div>


    {# 研究紹介 #}
    <section class="SectionBasic ResearchCard ColumnUnit">
        <h2 class="MdsBase">Research</h2>
        <p class="LeadMain">鬼塚研究室ではビッグデータにまつわる下記の研究分野で活動しております．</p>
     <ul class="cards">
      <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--datamining"></div>
          <div class="card__content">
            <div class="card__title">グラフマイニング</div>
            <p class="card__text">グラフマイニングとは，「どの人がどこで何を買った・何を見た」などの，
                人・モノ・場所の関係に関するデータをグラフ構造で表現して，
                得られる大規模なグラフデータを用いて，モノを推薦したり，影響力のある人物を発見したり，
                世の中のトレンドを分析したりする技術です．</p>
            <button class="btn btn--block card__btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--nlp"></div>
          <div class="card__content">
            <div class="card__title">自然言語処理</div>
            <p class="card__text">ビッグデータと機械学習を活用して人間の言語をコンピュータが理解することを目指した
                自然言語処理技術について研究をおこなっています．具体的には，対話システムや機械翻訳等の研究を行っています．
            </p>
            <button class="btn btn--block card__btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--graph"></div>
          <div class="card__content">
            <div class="card__title">分散グラフ処理エンジン</div>
            <p class="card__text">分散データ処理エンジンとは，数100台を超えるコンピュータを使って大量なビッグデータを
                リアルタイムで分析処理する技術であり，Google や Facebook を含めて多くの企業で利用されています．</p>
            <button class="btn btn--block card__btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--dataanalysis"></div>
          <div class="card__content">
            <div class="card__title">発見的データ分析</div>
            <p class="card__text">誰でも簡単にビッグデータ分析ができる技術を創出して起業します．
                ああああああああああああああああああああああああああああああああああああああああああ
            </p>
            <button class="btn btn--block card__btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--iot"></div>
          <div class="card__content">
            <div class="card__title">IoT技術とビッグデータ</div>
            <p class="card__text">IoT技術とビッグデータの融合によるスマート応用の実現を目指しています．
                現在EUと日本の国際的共同プロジェクトを推進しています．</p>
            <button class="btn btn--block card__btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--ml"></div>
          <div class="card__content">
            <div class="card__title">機械学習</div>
            <p class="card__text">世界で今最も注目されている深層学習の技術に貢献します．
                また，深層学習で解けない問題を半教師あり学習によって解決する＆認知症の社会問題を改善します．</p>
            <button class="btn btn--block card__btn">Read More</button>
          </div>
        </div>
      </li>

    </ul>
    </section>


    {#  最新ニュース記事  #}
    <section class="SectionBasic LatestNews blur-image">
        <h2 class="MdsBase">Latest News</h2>
        <p class="LeadMain">鬼塚研究室に関する最新ニュースやお知らせについてまとめています．</p>
        <div class="latest-news">
            <div>
                {% if latest_news_list %}
                    {% for news in latest_news_list%}
                        <a href="{% url 'tree_view:new' %}#{{ news.id }}">
                            <p class="news-text"><span>{{ news.date.year }}/{{ news.date.month }}/{{ news.date.day }}</span>  {{ news.text_ja }}</p>
                        </a>
                    {% endfor %}
                {% else %}
                    <p>Sorry, but there is no latest news.</p>
                {% endif %}
            </div>
        </div>
        <div class="news-button">
            <a href="{% url 'tree_view:new' %}">
                <button>Read More</button>
            </a>
        </div>
    </section>


    {# 外部の方に向けたメッセージ #}
    <div id="outside-bg">
        <section class="SectionBasic ForOutside">
            <h2 class="MdsBase">For Outside</h2>
            <h2 class="MdsBase">
                当研究室を志望の学生へ
            </h2>
            <p class="Lead">
                鬼塚研究室では大学院生を募集しております．（社会人大学院生を含む）<br />
                研究室見学等を希望する方は，事前に鬼塚教授へのご連絡をお願い致します．<br />
            </p>
            <h2 class="MdsBase">
                企業・各種研究機関の研究者方へ
            </h2>
            <p class="Lead">
                鬼塚研究室では様々な企業や研究機関と共同研究プロジェクトを推進しております．<br />
                共同研究に関する連絡・問い合わせは鬼塚教授までご連絡をお願いいたします．</p>
            <p class="small-address"><i class="fa fa-envelope"></i>　onizuka@ist.osaka-u.ac.jp</p>
        </section>
    </div>

</div>



{# footer #}
<footer class="footer-distributed">
    <div class="footer-left">
        <h3>Onizuka<span>Lab.</span></h3>
        <p class="footer-company-about">
            大阪大学情報科学研究科<br>
            マルチメディア工学専攻<br>
            ビッグデータ工学講座鬼塚研究室
        </p>
        <br>
        <p class="footer-company-about">
            <span>ページ内リンク</span>
        </p>
        <ul>
            <li class="footer-list"><a href="{% url 'tree_view:embedding' %}">Home</a></li>
            <li class="footer-list"><a href="{% url 'tree_view:research' %}">研究</a></li>
            <li class="footer-list"><a href="{% url 'tree_view:member' %}">メンバー</a></li>
            <li class="footer-list"><a href="{% url 'tree_view:new' %}">New</a></li>
            <li class="footer-list"><a href="{% url 'tree_view:paper' %}">業績</a></li>
        </ul>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i><br>
            <p><span>〒565-0871 大阪府吹田市山田丘1-5 <br>
                大阪大学 情報科学研究科C棟</span>
            </p>
        </div>
        <div>
            <i class="fa fa-phone"></i><br>
            <p>+1 555 123456</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i><br>
            <p><a href="mailto:support@company.com">onizuka@ist.osaka-u.ac.jp</a></p>
        </div>
    </div>

    <div class="footer-right">
        <p class="footer-company-about">
            <span>外部リンク</span>
        </p>
        <p>
            <li class="footer-list"><a href="http://www.ist.osaka-u.ac.jp/japanese/research/majors/mm/course.html" target="_blank">マルチメディア工学専攻</a></li>
            <li class="footer-list"><a href="http://www.ist.osaka-u.ac.jp/japanese/index.html" target="_blank">情報科学研究科</a></li>
            <li class="footer-list"><a href="http://www.eng.osaka-u.ac.jp/ja/index.html" target="_blank">工学研究科・工学部</a></li>
            <li class="footer-list"><a href="http://www.es.osaka-u.ac.jp/" target="_blank">基礎工学部</a></li>
            <li class="footer-list"><a href="http://www.osaka-u.ac.jp/ja" target="_blank">大阪大学</a></li>
            <li class="footer-list"><a href="http://www.library.osaka-u.ac.jp/" target="_blank">大阪大学付属図書館</a></li>
            <li class="footer-list"><a href="http://www-bigdata.ist.osaka-u.ac.jp/local/oniwiki" target="_blank">鬼塚研Wiki (Local)</a></li>
        </p>
        <div class="footer-icons">
            <a href="https://hub.docker.com/u/gpolab/"><i class="fa fa-docker"></i></a>
            <a href="https://twitter.com/monizuka"><i class="fa fa-twitter"></i></a>
            <a href="https://github.com/OnizukaLab/"><i class="fa fa-github"></i></a>
        </div>
    </div>

    <div class="footer-bottom">
        Copyright &copy; 2017 Onizuka Lab. All rights reserved.
    </div>
</footer>


{# slide bar for Smart Phone #}
<div class="sb-slidebar sb-right">
    <ul class="sb-menu">
        <li class="sb-menu-title">MENU</li>
        <li class="sb-close"><a href="{% url 'tree_view:embedding' %}">ホーム</a></li>
        <li class="sb-submenu-open"><a href="{% url 'tree_view:research' %}" class="sb-toggle-submenu">研究<span class="sb-caret"></span></a>
            <ul class="sb-submenu">
                <li class="sb-close"><a href="#">グラフマイニング</a></li>
            </ul>
            <ul class="sb-submenu">
                <li class="sb-close"><a href="#">自然言語処理</a></li>
            </ul>
            <ul class="sb-submenu">
                <li class="sb-close"><a href="#">分散グラフ処理エンジン</a></li>
            </ul>
            <ul class="sb-submenu">
                <li class="sb-close"><a href="#">発見的データ分析</a></li>
            </ul>
            <ul class="sb-submenu">
                <li class="sb-close"><a href="#">IoT技術とビッグデータ</a></li>
            </ul>
            <ul class="sb-submenu">
                <li class="sb-close"><a href="#">機械学習</a></li>
            </ul>
        </li>
        <li class="sb-close"><a href="{% url 'tree_view:member' %}">メンバー<span class="sb-caret"></span></a></li>
        <li class="sb-close"><a href="{% url 'tree_view:new' %}">NEW<span class="sb-caret"></span></a></li>
        <li class="sb-close"><a href="{% url 'tree_view:paper' %}">業績</a></li>
        <li class="sb-close"><a href="{% url 'tree_view:embedding' %}">English<span class="sb-caret"></span></a></li>
    </ul>
</div>



{# jquery #}
<script>
// for SP hover
$(function(){
    $('.sb-menu li')
      .bind( 'touchstart', function(){
        $( this ).addClass( 'hover' );
    }).bind( 'touchend', function(){
        setTimeout(function(){
            $('.sb-menu li').removeClass('hover');
            },350);
    });

    $('.sb-close a')
      .bind( 'touchstart', function(){
        $( this ).addClass( 'hover' );
    }).bind( 'touchend', function(){
        setTimeout(function(){
            $('.sb-menu li').removeClass('hover');
            },350);
    });


    $('.LatestNews a')
      .bind( 'touchstart', function(){
        $( this ).addClass( 'hover' );
    }).bind( 'touchend', function(){
        setTimeout(function(){
            $('.LatestNews a').removeClass('hover');
            },350);
    });

    $('.news-button button')
      .bind( 'touchstart', function(){
        $( this ).addClass( 'hover' );
    }).bind( 'touchend', function(){
        setTimeout(function(){
            $('.news-button button').removeClass('hover');
            },350);
    });


});


// for the latest news
// ニューステキストの幅を固定する（hover時に文字の改行等が動かないようにする）
$(function(){
    var parent_width = $(".LatestNews a").width();
    $(".news-text").width(parent_width - 15);
} );


// scroll to each positions
// this script is running when this page is fully loaded.
// videoをjsでwindow sizeぴったりにresizeするので，#BgVideoWrapのheightが値が安定しない
// 従って，最初の部分はwindow sizeから取得
jQuery.event.add(window, "load", function(){

    var header_and_video = $(window).height();
    var header_height = $("#mainArea").get(0).offsetTop;

    // Poem
    //var position = $("#BgVideoWrap").outerHeight(true) - header_height;  // 本来の手法
    var position = header_and_video - header_height;
    $('.pc_sub_menu_message').click(function(){
        $("html,body").animate({
            scrollTop : position
        }, {
            queue : false
        });
    });

    // Research
    //var position2 = $(".VideoEmbedding").get(0).offsetTop - header_height;    // 本来の手法
    var position2 = position + $("#Poem").outerHeight(true);
    $('.pc_sub_menu_jobs').click(function(){
        $("html,body").animate({
            scrollTop : position2
        }, {
            queue : false
        });
    });

    // News
    //var position3 = $(".Professors").get(0).offsetTop - header_height;    // 本来の手法
    var position3 = position2 + $(".ResearchCard").outerHeight(true);
    $('.pc_sub_menu_interview').click(function(){
        $("html,body").animate({
            scrollTop : position3
        }, {
            queue : false
        });
    });

    // For Outside
    //var position4 = position3 + $(".Professors").outerHeight(true);
    var position4 = position3 + $(".LatestNews").outerHeight(true);
    $('.pc_sub_menu_work').click(function(){
        $("html,body").animate({
            scrollTop : position4
        }, {
            queue : false
        });
    });


});
</script>

<!-- The script must be included at the bottom of the body to work -->
{# for Animate On Scroll Library #}
<script src="{% static 'js/aos.js' %}"></script>
<script>
	AOS.init({
        duration: 700,
        disable: 'phone',
        delay: 400
    });
</script>

</body>
</html>
