@charset "UTF-8";

/* ベースとなるCSSファイル */
/* ヘッダー部とフッター部，サイドバー部を主に編集 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section, summary {
  display: block;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

/* /////////  common  ///////////////////////////////////////////*/

body {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3",
               "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif;
  /*font-size: 12px;*/
  line-height: 1.7;
  color: #333;
  background: #f5f5f5;
  background-size: 100% auto;
  overflow-x: auto;
}


img {
  height: auto;
  max-width: 100%;
}

a {
  color: #333;
  text-decoration: underline;
}

a:hover {
  color: #3289fb;
  text-decoration: underline;
}

.switch {
  visibility: hidden;
}

#header {
  background-color: #000000;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0,0,0); // for chrome z-index bug
}

#logo img {
  float: left;
  width: 215px;
  height: auto;
}

#menu {
  float: right;
  width: 30px;
  height: 30px;
  margin: 11px 11px 0 0;
}

#main {
  padding: 10px 0 0;
}


/* /////////  SLIDEBAR for SP ///////////////////////////////////////////*/

#sb-site, .sb-site-container {
  /* override slidemenu library style */
  background-color: transparent;
}

#sb-site, .sb-site-container {
  /* override slidemenu library style */
  background-color: transparent;
}


.sb-slidebar {
  border-left: 1px solid #dad8d2;
  z-index: 101;
}

.sb-slidebar li.sb-submenu-open a.sb-toggle-submenu {
  display: block;
  width: 100%;
  padding: 5%;
  background: url("../images/sidebar_under_arrow.png") right 17px no-repeat;
  background-size: 10px 10px;
  border-bottom: 1px solid #dad8d2;
  background-position-x: 90%;
}

.sb-slidebar li.sb-close a {
  display: block;
  width: 100%;
  padding: 5%;
  background: url("../images/sidebar_arrow.png") right center no-repeat;
  background-size: 10px 10px;
  border-bottom: 1px solid #dad8d2;
  background-position-x: 90%;
}


/* content list */
.sb-slidebar li a {
  color: white;
  text-decoration: none;
  transition: .2s;
}

/*.sb-slidebar li a:hover {*/
  /*border-left: 20px solid white;*/
  /*color: #a9a9a9;*/
/*}*/

.sb-slidebar li.hover a.hover{
  border-left: 20px solid darkblue;
  color: #a9a9a9;
}


/* contents menu */
.sb-menu-title {
  width: 100%;
  padding: 5%;
  color: white;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  background: none;
  border-bottom: 1px solid #dad8d2;
}

/* sub menu部分 */
.sb-submenu {
  display: none;
  background: #797979;
}

.back-to-top-container {
  text-align: center;
  background-color: #505D6E;
}

.back-to-top-container a {
  font-size: 13px;
  display: inline-block;
  margin: auto;
  color: whitesmoke;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
}



/* /////////  for footer ///////////////////////////////////////////*/

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px 10px 50px;
	/*margin-top: 80px;*/
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 33%;
	text-align: left;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font-size: 36px;
    font-family: unset;
	margin: 0px 0px 10px 0px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 33%;
	text-align: center;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;

}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 32%;
	text-align: right;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


.footer-distributed li {
	list-style: none; 		/* 点消し */
}

.footer-distributed .footer-list a{
	line-height: 20px;
	text-decoration: none;
	color:  #92999f;
	font-size: 13px;
}


/* footer bottom */

.footer-distributed .footer-bottom{
	text-align: center;
	line-height: 20px;
	color:  #92999f;
	font-size: 10px;
	font-weight: normal;
	margin: 40px 0 0 0;
}

/* If you don't want the footer to be responsive, remove these media queries (footer responsive) */
@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

/* icon for docker (in footer) */
@font-face {
  font-family: "fontcustom";
  src: url("../font/fontcustom_cb066050d5b786186aa0e7f121427d8b.eot");
  src: url("../font/fontcustom_cb066050d5b786186aa0e7f121427d8b.eot?#iefix") format("embedded-opentype"),
       url("../font/fontcustom_cb066050d5b786186aa0e7f121427d8b.woff") format("woff"),
       url("../font/fontcustom_cb066050d5b786186aa0e7f121427d8b.ttf") format("truetype"),
       url("../font/fontcustom_cb066050d5b786186aa0e7f121427d8b.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("../font/fontcustom_cb066050d5b786186aa0e7f121427d8b.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.fa-docker:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.fa-docker:before { content: "\f100"; }





/* /////////  for PC ///////////////////////////////////////////*/

/* ---------  common for PC  ---------*/

@media only screen and (min-width: 769px) {

  #container {
    /*width: 970px;*/
    margin: 0 auto;
  }
  #header_inner {
    display: none;
  }
  #logo {
    float: left;
    width: 312px;
    height: 100px;
  }
  #menu .sb-toggle-right {
    display: none;
  }
  #menu {
    float: right;
    width: 600px;
    height: 100px;
    margin: 0;
  }
  #main {
    padding: 10px 0 0;
  }
  #main h2.bg_stripe {
    margin: 0 0 10px;
    background-size: 22px 42px;
  }
  #main h2.bg_stripe .bg_stripe_text_box {
    float: left;
    background: #fff;
  }
  #main h2.bg_stripe .title_big {
    padding: 0;
    margin: 0 10px 0 0;
    font-size: 44px;
  }
  #main h2.bg_stripe .title_small {
    padding: 0 20px 0 10px;
    margin: 36px 0 0;
    font-size: 14px;
  }

}


#header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background: #000000;
}

/* PC用headerの幅 */
#pc_header_inner {
  width: 940px;
  height: 80px;
  margin: 0 auto;
  background: #000000;
  position: relative;
}

#pc_logo a {
  height: 80px;
  display: block;
  /*background: url(../images/header_logo_bk.png) left center no-repeat;*/
  text-indent: -200%;
  overflow: hidden;
}
#pc_logo img{
  display: block;
  width: 30%;
  padding-top: 6px;
}


#pc_menu ul.pc_navi {
  line-height: 80px;
  position: absolute;
  width: 600px;
  right: 160px;
  top: 0;
  text-align: right;
  font-size: 1.125rem;
  -webkit-font-smoothing: antialiased;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
}

#pc_menu ul.pc_navi li {
  vertical-align: bottom;
  display: inline-block;
  padding: 0 10px;
  height: 80px;
}



/* PC用 header menu  */
#pc_menu ul.pc_navi li a {
  text-align: left;
  display: inline-block;
  position: relative;
  /*top: 40;*/
  font-size: 0.9rem;
  line-height: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  padding-bottom: 5px;
  transition: .3s;
}
/* hover at the left side */
#pc_menu ul.pc_navi li.menu-hover a::before {
	content: '';
	width: 0;
	left: 50%;
	bottom: 0px;
	transition: .3s;
	border-bottom: 2px solid #fff;
	position: absolute;
	display: block;
}
#pc_menu ul.pc_navi li.menu-hover a:hover::before {
	width: 50%;
	border-bottom: 2px solid #fff;
}
/* hover at the right side */
#pc_menu ul.pc_navi li.menu-hover a::after {
  	content: '';
	width: 0;
	right: 50%;
	bottom: 0px;
	transition: .3s;
	border-bottom: 2px solid #fff;
	position: absolute;
	display: block;
}
#pc_menu ul.pc_navi li.menu-hover a:hover::after {
	width: 50%;
  	border-bottom: 2px solid #fff;
}
/* not hovering */
#pc_menu ul.pc_navi li.now_display_header a {
  border-bottom: 2px solid #fff;
  height: 30px;
}


/* PC sub menu */
.pc_sub_menu {
  border-top: 1px solid #fff;
  background: #505D6E;
  -webkit-font-smoothing: antialiased;
}
.sub-contents {
  width: 100%;
  margin:0 auto;
  text-align: center;
  line-height: 2;
  /*padding-top: 10px;*/
  padding-bottom: 10px;
  top: auto;
  right: auto;
  font-family: "Hiragino Kaku Gothic ProN",Meiryo,sans-serif; 
}
.sub-contents li {
  display: inline-block;
  margin: 8px 20px 0 0;
  padding: 0;
  font-weight: 400;
  height: 26px;

}
.sub-contents li a {
  color: #fff;
  padding-bottom: 4px;
  line-height: 1.4rem;
  font-size: .875rem;
  text-decoration: none;

  position: relative;
}
.sub-contents li a::before{
  	content: '';
	width: 0;
	left: 50%;
	bottom: 0px;
	transition: .3s;
	border-bottom: 2px solid #fff;
	position: absolute;
	display: block;

}
.sub-contents li a:hover::before{
    width: 50%;
	border-bottom: 2px solid #fff;
}
.sub-contents li a::after{
    content: '';
	width: 0;
	right: 50%;
	bottom: 0px;
	transition: .3s;
	border-bottom: 2px solid #fff;
	position: absolute;
	display: block;
}
.sub-contents li a:hover::after{
    width: 50%;
    border-bottom: 2px solid #fff;
}

.sub-contents li.active a {
  border-bottom: 2px solid #fff;
}

/* headerの△ */
#pc_menu .pc_navi .now_display_header span:after {
  display: block;
  content: " ";
  position: relative;
  bottom: -19px;
  width: 0;
  height: 0;
  left: 50%;
  margin-left: -6px;
  border-style: solid;
  border-width: 0 7px 7px;
  border-color: transparent transparent #fff;
  }


/* end of for PC */




/* /////////  for SP ///////////////////////////////////////////*/

@media only screen and (max-width: 768px) {
  #header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #000000;
  }

  #top-banner {
    padding-top: 70px;
  }

  #dropmenu {
    display: none;
  }
  #pc_header_inner {
    display: none;
  }
  .pc_sub_menu {
    display: none;
  }
  .map_pc {
    display: none;
  }
  .back-to-top-container {
    display: none;
  }

  .sb-slidebar {
    top: 53px;
  }
  .searchCategory ul {
    display: none;
  }

}

/* end of for SP */




/* ///////// cf ///////////////////////////////////////////*/

.cf:before,
.cf:after {
  display: block;
  overflow: hidden;
  content: "";
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
