@charset "UTF-8";

/*
for the use fo PC and SP on the top page Onizuka Lab.
*/


/* common --------------------------------------------------- */
#mainArea strong {
font-weight: bold;
}
#mainArea a:link,
#mainArea a:active,
#mainArea a:visited {
color: #658dc8;
}
#mainArea h2.MdsBase {
font-weight: bold;
text-align: center;
}


/* 注釈 */
.KomeS {
display: inline-block;
position: relative;
margin-top: 10px;
padding-left: 18px;
font-size: 12px !important;
line-height: 1.6em;
}
.KomeS:before {
display: inline-block;
position: absolute;
left: 3px;
top: 0;
content: '※';
}


/* Grid menu (メンバーカードで使用) */
.grid{
    padding: 10px 5px 5px 5px;
    overflow: hidden;
    max-width: 970px;
    margin: auto;
}
/* These are the classes that are going to be applied: */
.column {
    float: left;
}
.EachBox{
    margin: 5px;
}
.EachBox .box3{
    height: 480px;
}



/* for latest news */
.LatestNews .latest-news a, a:before {
  transition: all .4s;

}
.LatestNews .latest-news div {
  max-width: 600px;
  margin: 2em auto;
}
.LatestNews .latest-news div:hover a {
  opacity: .4;
}
.LatestNews .latest-news a {
  position: relative;
  display: block;
  max-width: 600px;
  padding: 20px 20px 20px 45px;
  box-sizing: border-box;
  color: #777;
  background: #fAfAfA;
  text-decoration: none;
  font-family: "Open Sans", "Segoe UI", Arial, sans-serif;
}
.LatestNews .latest-news a:before {
  content: "";
  position: absolute;
  left:0; bottom:0; top:0;
  width: 20px;
  background: #7F8C9A;
}
.LatestNews .latest-news a:nth-child(even):before {
  background: #34495E;
}
.LatestNews .latest-news a + a {
  border-top: 2px solid #ededed;
}
.LatestNews .latest-news div a:hover,
.LatestNews .latest-news div a:focus {
  opacity: 1;
  padding-left: 55px;
}
.LatestNews .latest-news div a:hover:before,
.LatestNews .latest-news div a:focus:before {
  width: 30px;
}

.LatestNews .latest-news p {
  margin: auto;
}

.LatestNews .latest-news span {
  font-size: 16px;
  font-weight: bold;
  color: black;
}



/* 外部の方へのメッセージ (small address) */
.small-address {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  padding-left: 18px;
  font-size: 12px !important;
  line-height: 1.6em;
}




/* PC用 --------------------------------------------------- */
@media only screen and (min-width: 769px) {


  /* 共通 */
  #mainArea .SP {
    display: none;        /* スマホ用タグのついたhtmlタグは表示しない */
  }
  #mainArea p, #mainArea th, #mainArea td, #mainArea li {
    font-size: 14px;
  }
  #mainArea small {
    font-size: 12px;
  }
  #mainArea .SectionBasic {
    padding: 30px 0;
  }
  #mainArea h2.MdsBase {
    margin-bottom: 20px;
    font-size: 44px;
    color: #37474F;
    font-family: 'Anton', sans-serif;
  }
  .Win #mainArea h2.MdsBase {
    font-weight: normal;
  }
  #mainArea .LeadMain {
    font-size: 16px;
    text-align: center;
    margin: auto;
  }


  /* クラス定義部分の背景画像をぼかす */
  #mainArea .blur-image{
    background-size: cover;
    position: relative;
    z-index: 0;
    overflow: hidden;     /*ブラー効果でボヤけた部分を非表示*/
  }
  /*:beforeにぼかし効果を設定する*/
  #mainArea .blur-image:before{
    content: '';
    background: inherit;  /*.bgImageで設定した背景画像を継承する*/
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    position: absolute;
    /*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    z-index: -1;          /*重なり順序を一番下にしておく*/
  }


  
  /* ここから書くsection内容について記載 */
  /* 背景動画 */
  #mainArea #BgVideoWrap {
    position: relative;
    overflow: hidden;
    margin-top: 131px;  /* あまり良くない（ハードコートするべきでない）163 */
  }
  #mainArea #BgVideo {
    width: 100%;
  }


  /* タイトルロゴ */
  #mainArea #BgVideoWrap .PageTitle {
    position: absolute;
    z-index: 10;
    top: 40%;
    left: 15%;
    right: 15%;
    margin: 0 auto;
    text-align: center;
  }


  /* スクロール画像 */
  #mainArea #BgVideoWrap .ScrollDown {
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 50px;
    text-align: center;
  }
  #mainArea #BgVideoWrap .ScrollDown .scroll-img {
    width: 7%;
  }


  /* Dot画像の貼り付け */
  .BgVideoOverlay {
    width: 100%;
    height: 100%;
    background: url(../images/dot.png);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    opacity: 0.4;
  }


  /* 背景動画：タブレット対応 (top_page.js でTabletタグをつけている場合) */
  .Tablet #mainArea #BgVideoWrap {
    display: none;
  }
  .Tablet #mainArea #KeyVisualSP {
    display: block !important;
    position: relative;
  }
  .Tablet #mainArea #KeyVisualSP .PageTitle {
    position: absolute;
    z-index: 10000;
    left: 50%;
    bottom: 50px;
    margin-left: -110px;
  }
  .Tablet #mainArea #KeyVisualSP .PageTitle img {
    width: 220px;
    height: auto;
  }


  /* PC メッセージ */
  #mainArea .Message {
    padding-bottom: 20px;
    color: whitesmoke;
    text-align: center;
    background: url(../images/mask_square.png) no-repeat center;
  }
  #mainArea .Message h2.MdsBase {
    color: whitesmoke;
    margin-left: 10px;
    margin-bottom: 50px;
    font-size: 40px;
  }
  #mainArea .Message .Lead {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 2.2em;
  }



  /* PC background in Message */
  .cd-fixed-bg {
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .cd-fixed-bg.cd-bg-1 {
    background-image: url("../images/server.jpg");
  }
  .cd-scrolling-bg {
    min-height: 100%;
  }


  /* research card */
  .ResearchCard.ColumnUnit {
    margin: auto;         /* auto にせずに一個ずつ決定すると左詰めになる*/
    background-image: url("../images/grid.png");
  }


  /* latest news */
  #mainArea .LatestNews {
    background-color: #f5f5f5;
    background-image: url("../images/building.jpg");
  }
  .news-button {
  text-align: center;
  }
  .news-button button{
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
    line-height: 50px;
    font-weight: bold;
    padding: 0 20px;
  }
  .news-button button:hover {
    background-color: rgba(255, 255, 255, .2);
  }



  /* 外部の方へのメッセージ */
  #mainArea .ForOutside {
    padding-bottom: 20px;
    color: whitesmoke;
    text-align: center;
    background-size: cover;
    background: url(../images/mask_square.png) no-repeat center;
  }
  #mainArea #outside-bg {
    background-size: cover;
    background-image: url('../images/oni_server.jpg');

  }


  #mainArea .ForOutside h2.MdsBase {
    color: whitesmoke;
    margin-left: 10px;
    margin-bottom: 50px;
    font-size: 40px;
  }
  #mainArea .ForOutside .Lead {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 2.2em;
  }


}
/* PC用：終了 --------------------------------------------------- */




/* SP (Smart Phone or other tablets) 用 -------------------------------------- */
@media only screen and (max-width: 768px) {


  #mainArea {
    text-align: center;
    /*padding-top: 50px;*/
  }
  #mainArea .PC {
    display: none;
  }


  /* SP共通 */
  #mainArea p, #mainArea th,#mainArea td, #mainArea li {
    font-size: 13px;
  }
  #mainArea small {
    font-size: 10px;
  }
  #mainArea .Break {
    display: block;
  }
  #mainArea .SectionBasic {
    padding: 30px 15px;
  }
  #mainArea h2.MdsBase {
    font-family: 'Anton', sans-serif;
    margin-bottom: 15px;
    color: #37474F;
    font-size: 24px;
  }
  #mainArea .BtnEntry {
    padding: 12px 80px;
    font-size: 18px;
    background-size: 19px auto;
  }


  /* SPキービジュアル */
  #mainArea #KeyVisualSP {
    position: relative;
    background: #f5f5f5;
    background-size: 15px;
    padding-top: 53px;    /* ヘッダー分空ける */
  }
  #mainArea #KeyVisualSP .PageTitle {
    position: absolute;
    z-index: 100;
    left: 50%;
    bottom: 30px;
    margin-left: -150px;
  }
  #mainArea #KeyVisualSP .PageTitle img {
    width: 300px;
    height: auto;
  }


  /* SPメッセージ */
  #mainArea .Message {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 60px;
    background: white;
    background-image: url('../images/grid.png');
    background-size: 15px;
  }
  #mainArea .Message h2.MdsBase {
    margin-left: 5px;
    margin-bottom: 20px;
    font-size: 19px;
    text-align: center;
  }
  #mainArea .Message .Lead {
  margin-bottom: 20px;
  font-size: 13px;
  }
  #mainArea .Message .Btn {
  margin-top: 30px;
  text-align: center;
  }


  /* SP 研究紹介 */
  #mainArea .ResearchCard {
    margin: auto;
    background: #f5f5f5;
  }


  /* SP latest news */
  #mainArea .LatestNews {
    background: white;
    background-image: url('../images/grid.png');
  }
  .news-button {
  text-align: center;
  }
  .news-button button{
    background-color: #757575;
    border: 3px solid #757575;
    color: white;
    line-height: 50px;
    font-weight: bold;
    padding: 0 20px;
  }
  .news-button button:hover {
    background-color: #34495E;
  }


  /* 外部の方へのメッセージ */
  #mainArea .ForOutside {
    padding-bottom: 20px;
    color: whitesmoke;
    text-align: center;
    background-size: cover;
    background: url(../images/mask_square.png) no-repeat center;
  }
  #mainArea #outside-bg {
    background-size: cover;
    background-image: url('../images/server.jpg');

  }
  #mainArea .ForOutside h2.MdsBase {
    color: whitesmoke;
    margin-left: 5px;
    margin-bottom: 20px;
    font-size: 19px;
    text-align: center;
  }
  #mainArea .ForOutside .Lead {
  margin-bottom: 20px;
  font-size: 13px;
  }



}
/* SP用：終了 --------------------------------------------------- */


/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
position: relative;
width: 100%;
margin: 0 auto;
padding: 0;
overflow: hidden;
}

.bx-wrapper img {
width: 100%;
display: block;
}






